In [8]:
import numpy as np
import pandas as pd

In [9]:
f20 = pd.read_csv('./input/players_20.csv',index_col='sofifa_id')
f20.shape

(18278, 103)

In [10]:
f20.head()

,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [11]:
f20.columns.tolist()

['player_url',
 'short_name',
 'long_name',
 'age',
 'dob',
 'height_cm',
 'weight_kg',
 'nationality',
 'club',
 'overall',
 'potential',
 'value_eur',
 'wage_eur',
 'player_positions',
 'preferred_foot',
 'international_reputation',
 'weak_foot',
 'skill_moves',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'team_position',
 'team_jersey_number',
 'loaned_from',
 'joined',
 'contract_valid_until',
 'nation_position',
 'nation_jersey_number',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_reflexes',
 'gk_speed',
 'gk_positioning',
 'player_traits',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb']

<img src="./input/posiciones_fifa.jpg">

añado una columna 'year' para saber en que df esta el jugador

In [12]:
f20['year'] = 20

In [13]:
f20 = f20.drop(['player_url', 'short_name','long_name', 'dob', 'real_face',
                  'team_position','team_jersey_number','loaned_from','joined',
                  'contract_valid_until','nation_position','nation_jersey_number',
                  'player_traits','mentality_composure','player_positions',
                  'body_type','player_tags','release_clause_eur'], axis=1)

In [14]:
f20.head()

,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,preferred_foot,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,32,170,72,Argentina,FC Barcelona,94,94,95500000,565000,Left,...,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2,20
20801,34,187,83,Portugal,Juventus,93,93,58500000,405000,Right,...,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3,20
190871,27,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,Right,...,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3,20
200389,26,188,87,Slovenia,Atlético Madrid,91,93,77500000,125000,Right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
183277,28,175,74,Belgium,Real Madrid,91,91,90000000,470000,Right,...,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3,20

**columna club**

voy a clasificar los clubes, saco los datos de aqui : https://www.clubworldranking.com/espanol/clubes/top-250-de-todos-los-tiempos

In [15]:
e1 = ['FC Barcelona','Real Madrid','FC Bayern München','Atlético Madrid','Juventus',
      'Manchester City','Chelsea','Sevilla FC','Liverpool','Manchester United',
      'Grêmio','Arsenal','Valencia CF','Paris Saint-Germain','Borussia Dortmund',
      'Napoli','Tottenham Hotspur','SL Benfica','River Plate','Boca Juniors','FC Porto',
      'Jeonbuk Hyundai Motors','Athletic Club de Bilbao','Palmeiras','Santos',
      'Atlético Mineiro','Shakhtar Donetsk','Al Hilal','Roma','São Paulo','Cruzeiro',
      'Villarreal CF','Bayer 04 Leverkusen','FC Seoul','Lazio','Inter','Ulsan Hyundai FC',
      'FC Schalke 04','Atlético Paranaense','Olympique Lyonnais','Internacional',
      'Zenit St. Petersburg','Tigres U.A.N.L.','Monterrey','Suwon Samsung Bluewings',
      'Ajax','Fluminense','Al Ahli','Everton','Milan']

e2 =['Real Sociedad','Sporting CP','Club Atlético Lanús',
      'Borussia Mönchengladbach', 'VfL Wolfsburg','Guangzhou Evergrande Taobao FC',
      'San Lorenzo de Almagro','Dinamo Moscow','Pohang Steelers',
      'América FC (Minas Gerais)','Vélez Sarsfield','Racing Club','RCD Espanyol',
      'Independiente','Fiorentina','Olympiacos CFP','PFC CSKA Moscow',
      'Santos Laguna','Atlético Nacional','FC Basel 1893','Olympique de Marseille',
      'Botafogo','Eintracht Frankfurt','Estudiantes de La Plata','Getafe CF','Al Nassr',
      'PSV','FC Red Bull Salzburg','Al Ittihad','RC Celta','Real Betis','Kashima Antlers',
      'Levante UD','Atalanta','Celtic','FC Krasnodar','Cruz Azul','Jeju United FC',
      'LOSC Lille','Fenerbahçe SK','Lokomotiv Moscow','Leicester City',
      'Udinese','AS Monaco','Pachuca','Godoy Cruz','AS Saint-Étienne','RSC Anderlecht',
      'FC Girondins de Bordeaux','Swansea City']

e3 = ['TSG 1899 Hoffenheim',"Newell's Old Boys",'Rosario Central','Independiente Santa Fe',
      'Stade Rennais FC','PAOK','Málaga CF','AZ Alkmaar','Club León','Bahia',
      'Viktoria Plzeň','Junior FC','Panathinaikos FC','Shanghai SIPG FC','Galatasaray SK',
      'Spartak Moscow','Al Shabab','Beşiktaş JK','Newcastle United',
      '1. FSV Mainz 05','KRC Genk','Coritiba','SV Werder Bremen',
      'Feyenoord','Standard de Liège','Sampdoria','Bologna',
      'OGC Nice','Torino','SK Rapid Wien','SC Braga','Rubin Kazan','Vitória Guimarães',
      'Southampton','West Ham United','Argentinos Juniors','Shandong Luneng TaiShan FC',
      'RB Leipzig','Gimnasia y Esgrima La Plata','Urawa Red Diamonds','Stoke City',
      'Yokohama F. Marinos','BSC Young Boys','Hertha BSC','VfB Stuttgart',
      'Trabzonspor','Genoa','Catania','SD Eibar','Bari']

e4 = ['Guadalajara','Club Atlético Tigre','Deportes Tolima','SC Freiburg','Montpellier HSC',
      'Seongnam FC','Club Atlético Colón','Deportivo Toluca',
      'Kashiwa Reysol','Querétaro','Jeonnam Dragons','Incheon United FC',
      'Beijing Sinobo Guoan FC','Sanfrecce Hiroshima','Club Tijuana','Club Atlético Huracán',
      'Club Atlas','Club Atlético Banfield','Sport Club do Recife','Granada CF','Crystal Palace',
      'Millonarios FC','Daegu FC','West Bromwich Albion','Malmö FF','Rosenborg BK',
      'Cagliari','Clube Sport Marítimo','Atlético Tucumán','Cerezo Osaka',
      'Rayo Vallecano','Jiangsu Suning FC','Vitesse','Hamburger SV','FC Twente',
      'Gyeongnam FC','FC Midtjylland','Seattle Sounders FC','Ponte Preta','Molde FK',
      'Puebla FC','Sangju Sangmu FC','Chievo Verona','FC Utrecht','Nagoya Grampus',
      'Sassuolo','Toulouse Football Club','Parma','Club Brugge KV','Middlesbrough']

e5 = ['Padova','Brescia','LA Galaxy','Fulham','Bristol City','Rangers FC','Aston Villa',
      'Boavista FC','Racing Club de Lens','Valenciennes FC','Walsall','Nottingham Forest',
      'Deportivo de La Coruña','Palermo','Sheffield United','St. Mirren','Blackpool',
      'Bristol Rovers','Scunthorpe United','Burnley','Bury','Lincoln City',
      'Doncaster Rovers','Sheffield Wednesday','Cardiff City','Macclesfield Town',
      'Blackburn Rovers','Carlisle United','Motherwell','Foggia','Pescara','Willem II',
      'AEK Athens','Frosinone','Fortuna Düsseldorf','Lecce','CD Leganés','Internacional',
      'New York Red Bulls','TSV 1860 München','Bolton Wanderers','Queens Park Rangers',
      'FC Dallas','Real Salt Lake','Leeds United','Southend United','Waterford FC',
      'Real Valladolid CF','CA Osasuna','FC Metz']

e6 = ['Stevenage','Colchester United','Helsingborgs IF','Notts County','SPAL',
      'Leyton Orient','Bradford City','Grimsby Town','Colorado Rapids',
      'Finland','Stade de Reims','FC Nantes','Wycombe Wanderers','Oldham Athletic',
      'Yeovil Town','Derby County','Rotherham United','New York City FC',
      'Stade Malherbe Caen','Empoli','Moreirense FC','FC Paços de Ferreira','SV Grödig',
      'Bournemouth','Livorno','Varese','Cheltenham Town','NEC Nijmegen','Wigan Athletic',
      'CD Aves','Vitória de Setúbal','FC Penafiel','Czech Republic','Sparta Praha',
      'Portimonense SC','Hull City','Deportivo Alavés','1. FC Kaiserslautern',
      'SK Sturm Graz','SC Fortuna Köln','Karlsruher SC','Sunderland','Reading',
      'AJ Auxerre','Los Angeles FC','1. FC Köln','RCD Mallorca',
      'Brøndby IF','Hellas Verona','AS Nancy Lorraine']

e7 = ['AD Alcorcón','UD Las Palmas','Elche CF','Real Oviedo','Newcastle Jets',
      'Bilbao Athletic','CD Lugo','Gimnàstic de Tarragona','Alanyaspor',
      'Cádiz CF','Girona FC','Córdoba CF','Orlando Pirates','Lorca FC','Plymouth Argyle',
      'CD Mirandés','Real Sporting de Gijón','UE Llagostera','SD Ponferradina',
      'Cork City','Exeter City','CE Sabadell FC','Portsmouth','CF Rayo Majadahonda',
      'Racing Santander','UCAM Murcia CF','Spezia','Colo-Colo','Crotone',
      'Atlanta United','Benevento','Oxford United','SD Huesca','UD Almería',
      'Real Zaragoza','Albacete BP','CD Tenerife','Cultural Leonesa',
      'Extremadura UD','FC Helsingør','FC Barcelona B','Fortuna Sittard','De Graafschap',
      'Sevilla Atlético','CF Reus Deportiu','CD Numancia','AC Ajaccio','Cesena',
      'AFC Wimbledon','Os Belenenses','Coventry City','CF Fuenlabrada']

e8 = ['Rochdale','Morecambe','Newport County','Gil Vicente FC','Portugal',
      'ESTAC Troyes','Estoril Praia','Le Havre AC','Aberdeen','AIK','Antalyaspor',
      'NAC Breda','AC Arles Avignon','FC Lorient','Ascoli','1. FC Union Berlin',
      'Charlton Athletic','Medipol Başakşehir FK','Grasshopper Club Zürich',
      'Cambridge United','GFC Ajaccio','Sparta Rotterdam','Melbourne City FC',
      'Brighton & Hove Albion','Ipswich Town','Orlando City SC','Montreal Impact',
      'Hamilton Academical FC','Wolverhampton Wanderers','Norwich City',
      'Derry City','Finn Harps','Birmingham City','Swindon Town','Port Vale',
      'Central Coast Mariners','Brentford','Forest Green Rovers','Luton Town',
      'Peterborough United','Tranmere Rovers','Burton Albion','Northampton Town',
      'Kilmarnock','Millwall','Gillingham','Crawley Town','Mansfield Town','Chesterfield',
      'Hartlepool United','Bayern München II',]

e9 = ['Club Atlético Sarmiento','Club Atlético Aldosivi',
       'Associação Académica de Coimbra','Ternana','CD Feirense','FC Anzhi Makhachkala',
       'U.N.A.M.','Arsenal de Sarandí','Dijon FCO','Avellino','Brisbane Roar',
       'Stade Brestois 29','FC St. Pauli','SV Werder Bremen II','Dinamo Zagreb',
       'Dynamo Kyiv','Royal Antwerp FC','FK Haugesund','Viking FK','Melbourne Victory','Limerick FC',
       'Houston Dynamo','Chivas USA','Toronto FC','Ross County FC','Vålerenga Fotball',
       'Royal Excel Mouscron','KAA Gent','Vicenza','Atiker Konyaspor','FC Erzgebirge Aue',
       'KSV Cercle Brugge','FC Vestsjælland','IFK Göteborg','Sweden','Aalborg BK',
       'Perugia','Clermont Foot 63','Virtus Entella','Wolfsberger AC','BK Häcken',
       'DC United','FSV Frankfurt','Silkeborg IF','Tromsø IL','HJK Helsinki','FC Zürich',
       'SV Mattersburg','Red Star FC','Ranheim Fotball','Dinamo Bucureşti']

e10 = ['Tigres FC','SC Cambuur','AS Béziers','Austria','Modena','Sandefjord Fotball','Najran SC',
       'Switzerland','Dundee United','Hallescher FC','Shonan Bellmare','Wexford Youths',
       'Al Hazem','Åtvidabergs FF','Kayseri Erciyesspor','Itagüí Leones FC',
       'Stade Lavallois Mayenne FC','Dagenham and Redbridge','Barnet','Ruch Chorzów',
       'Daejeon Citizen','Busan IPark','Trelleborgs FF','GIF Sundsvall','York City',
       'US Orléans Loiret Football','Paraná','Ceará Sporting Club','Vitória',
       'Atlético Clube Goianiense','Avaí FC','Figueirense','Santa Cruz','Joinville',
       'Criciúma','Goiás','Halmstads BK','Galway United','Guizhou Hengfeng FC','Belgium',
       'FC Hansa Rostock','FC Vaduz','Como','Cosenza','KVC Westerlo','Netherlands',
       'Western Sydney Wanderers','Adanaspor','BB Erzurumspor','Atlético de Rafaela',
       'SK Slavia Praha','Le Mans FC']

e11 = ['Independiente Medellín','Unión Española','Defensa y Justicia','Belgrano de Córdoba',
       'Chapecoense','Hungary','Rio Ave FC','FC Augsburg','Gamba Osaka','Hannover 96',
       'Monarcas Morelia','Deportivo Cali','Club Necaxa','FC Tokyo','Universidad de Chile',
       'Santiago Wanderers','Colombia','En Avant de Guingamp','Tiburones Rojos de Veracruz',
       'Watford','Bari','Servette FC','Central Córdoba','FC Juárez']

e12 = ['Hungary','CD Cobresal','Partick Thistle FC','FC Rostov','Kawasaki Frontale',
       'Heart of Midlothian','Évian Thonon Gaillard FC','Latina','IK Start','SV Sandhausen',
       'Oud-Heverlee Leuven','KV Oostende','Aarhus GF','Perth Glory','PEC Zwolle',
       'Mjällby AIF','IF Elfsborg','FC Nordsjælland','Crewe Alexandra','Korona Kielce',
       'Preston North End','SpVgg Greuther Fürth','Nîmes Olympique','Columbus Crew SC',
       'LASK Linz','FC Arouca','Akhisar Belediyespor','Çaykur Rizespor','Shamrock Rovers',
       'Heracles Almelo','Northern Ireland','Sint-Truidense VV','Sporting de Charleroi',
       'Kristiansund BK','Stabæk Fotball','Randers FC','Wisła Kraków','Shrewsbury',
       'Bohemian FC','Huddersfield Town','Neuchâtel Xamax','SK Brann','CD Tondela',
       'FC Luzern','Sligo Rovers','União da Madeira','Djurgårdens IF','Kasimpaşa SK',
       'Jönköpings Södra IF','Hammarby IF','Audax Italiano','Canada','IFK Norrköping',
       'FC København','Paraguay','Go Ahead Eagles','Excelsior','Fleetwood Town',
       'FC Groningen','FC Emmen','Hokkaido Consadole Sapporo','Júbilo Iwata',
       'DSC Arminia Bielefeld','Esbjerg fB','Odds BK','Strømsgodset IF',
       'Sarpsborg 08 FF','VfL Bochum 1848','FC Thun','FC St. Gallen','RC Strasbourg Alsace','1. FC Nürnberg',
       'FC Admira Wacker Mödling','Uruguay','FC Sion','Sporting Lokeren',
       'St. Johnstone FC','Dundee FC','Sagan Tosu','Angers SCO','FK Bodø/Glimt',
       'Lillestrøm SK','Sandnes Ulf','IF Brommapojkarna','Falkenbergs FF','Hobro IK',
       'Chicago Fire','San Jose Earthquakes','Sporting Kansas City','Milton Keynes Dons',
       'Sydney FC','Terek Grozny','La Berrichonne de Châteauroux','Venezia FC',
       'Amiens SC','Australia','FK Austria Wien','SønderjyskE','FC Lugano',
       'Philadelphia Union','FC Lausanne-Sport','Sivasspor','SC Paderborn 07',
       'SV Darmstadt 98','Arka Gdynia','MSV Duisburg','VfL Sportfreunde Lotte',
       'KAS Eupen','SC Wiener Neustadt','Leones Negros de la UdeG','SpVgg Unterhaching',
       'KV Mechelen','Mjøndalen IF','Trapani','Pogoń Szczecin','Eintracht Braunschweig',
       'Piast Gliwice','Podbeskidzie Bielsko-Biała','Legia Warszawa','FC Ufa',
       'Fortaleza CEIF','FC Sochaux-Montbéliard','FC Würzburger Kickers','Tours FC',
       'New England Revolution','Deportivo San Marcos de Arica','Jaguares de Chiapas',
       'Chamois Niortais Football Club','Gaziantepspor','Livingston FC','Drogheda United',
       'Holstein Kiel','FSV Zwickau','VfR Aalen','Hibernian','FC Ingolstadt 04',
       'Roda JC Kerkrade','Lierse SK','Novara','Turkey','Eskişehirspor','Göztepe SK',
       'Osmanlıspor','Mersin İdman Yurdu','Gençlerbirliği SK','Adelaide United',
       'Kardemir Karabükspor','Kayserispor','Lyngby BK','FC Rot-Weiß Erfurt',
       'CD Nacional',"CD O'Higgins",'Santa Clara','Al Faisaly','Gangwon FC','GwangJu FC',
       'Korea Republic','SC Heerenveen','US Salernitana 1919','FC Pro Vercelli 1892',
       'Football Bourg En Bresse Peronnas 01','SV Zulte-Waregem','KV Kortrijk','Al Raed',
       'US Cremonese','SKN St. Pölten','1. FC Magdeburg','Carpi','SS Virtus Lanciano',
       'Portland Timbers','Accrington Stanley','AC Horsens','Odense Boldklub',
       'Górnik Zabrze','Al Taawoun','Boyacá Chicó FC','Patriotas Boyacá FC',
       'Dorados de Sinaloa','La Equidad','Lobos BUAP','Gefle IF','Rionegro Águilas',
       'Egypt','Vegalta Sendai','Ventforet Kofu','Bray Wanderers','Dundalk',
       'CD Universidad de Concepción','Kalmar FF','Amkar Perm','FC Wacker Innsbruck',
       'Bulgaria','FC Orenburg','Al Fayha','Jagiellonia Białystok',
       'Universidad Católica','Club Atlético Talleres','Deportivo Pasto',
       'Cúcuta Deportivo','Quilmes Atlético Club','Crucero del Norte','Envigado FC',
       'Club Atlético Temperley','Hebei China Fortune FC','Unión de Santa Fe',
       'San Martín de San Juan','Club Olimpo','Once Caldas','Nueva Chicago',
       'AC Barnechea','Uniautónoma FC','Patronato','Unión La Calera','América de Cali',
       'Deportes Iquique','Peru','CD Cobreloa','Chacarita Juniors','Balıkesirspor',
       'Yeni Malatyaspor','MKE Ankaragücü','SV Ried','Bursaspor','Shimizu S-Pulse',
       'CD Huachipato','Suwon FC','Mordovia Saransk','Torpedo Moscow','Arsenal Tula',
       'Kuban Krasnodar','FC Tom Tomsk','FC Ural Yekaterinburg','FC Tosno','Romania',
       'Śląsk Wrocław','Lechia Gdańsk','Sandecja Nowy Sącz','GKS Bełchatów',
       'Górnik Łęczna','Lech Poznań','ADO Den Haag',"St. Patrick's Athletic",
       'Vissel Kobe','Paris FC','SCR Altach','Henan Jianye FC','IK Sirius',
       'Minnesota United FC','Club América','Miedź Legnica','Bolivia','Venezuela',
       'Al Qadisiyah','Cracovia','Bruk-Bet Termalica Nieciecza','Wisła Płock',
       'Barnsley',' SSV Jahn Regensburg',"Côte d'Ivoire",'FC Dordrecht','Sogndal Fotball',
       'Ecuador','Athlone Town','Chile','Pisa','China PR','Beijing Renhe FC',
       'CD Antofagasta','San Martin de Tucumán','Poland','San Luis de Quillota',
       'SV Meppen','Örebro SK','Curicó Unido','Kaizer Chiefs','Al Fateh','CD Palestino',
       'CD Everton de Viña del Mar','Club Deportes Temuco','Krylya Sovetov Samara',
       'Iceland','SKA Khabarovsk','US Quevilly Rouen Métropole','Waasland-Beveren',
       'Zagłębie Lubin','Cittadella','Changchun Yatai FC','Al Khaleej','Slovenia',
       'Vendsyssel FF','Hajer','Sporting Club de Bastia','New Zealand','Italy',
       'Vancouver Whitecaps FC','AFC Eskilstuna','VVV-Venlo','Wales','Alianza Petrolera',
       'Al Orobah','Al Wehda','Brazil','SV Wehen Wiesbaden','Norway','Omiya Ardija',
       'TSV Hartberg','SG Dynamo Dresden','Wellington Phoenix','Ettifaq FC',
       'Inverness Caledonian Thistle','Tianjin TEDA FC','Grenoble Foot 38',
       '1. FC Heidenheim 1846','Chemnitzer FC','FC Energie Cottbus','Cameroon',
       'Greece','Avispa Fukuoka','Albirex Niigata','India','Zagłębie Sosnowiec',
       'Atlético Bucaramanga','Tianjin Quanjian FC','SG Sonnenhof Großaspach',
       'Guangzhou R&F FC','Atlético Huila','VfL Osnabrück','Cortuluá',
       'Jaguares de Córdoba','Östersunds FK','KFC Uerdingen 05','Dalkurd FF',
       'South Africa','Chongqing Dangdai Lifan FC SWM Team','Al Shoulla',
       'Shanghai Greenland Shenhua FC','Russia','UCD AFC','Dalian YiFang FC',
       'GD Chaves','SC Preußen Münster','Ohod Club','Aalesunds FK','V-Varen Nagasaki',
       'FC Carl Zeiss Jena','Argentina','Deportivo Ñublense','Al Batin','Wuhan Zall',
       'Shenzhen FC','CSA - AL','Mexico','Atlético de San Luis','Western United FC','Fortaleza',
       'Denizlispor','Al Ain FC','Gazişehir Gaziantep F.K.','Famalicão','Unión Magdalena',
       'FCSB (Steaua)','Universitatea Craiova','Coquimbo Unido','CFR Cluj','FC Cincinnati',
       'FC Viitorul','Pordenone','Damac FC','Astra Giurgiu','Castellammare di Stabia',
       'Abha Club','FC Botoşani','Sepsi OSK','Salford City','Gaz Metan Mediaş','WSG Tirol',
       'Matsumoto Yamaga','FC Hermannstadt','LKS Lodz','Politehnica Iaşi',
       'SV Waldhof Mannheim','RKC Waalwijk','Oita Trinita','Rodez Aveyron Football',
       'FC Chambly Oise','FC Voluntari','Al Adalah','Viktoria Köln','Raków Częstochowa',
       'Chindia Târgovişte','Academica Clinceni',]

Doy valores a cada lista

In [16]:
eq1 = dict.fromkeys(e1, 1)
eq2 = dict.fromkeys(e2, 2)
eq3 = dict.fromkeys(e3, 3)
eq4 = dict.fromkeys(e4, 4)
eq5 = dict.fromkeys(e5, 5)
eq6 = dict.fromkeys(e6, 6)
eq7 = dict.fromkeys(e7, 7)
eq8 = dict.fromkeys(e8, 8)
eq9 = dict.fromkeys(e9, 9)
eq10 = dict.fromkeys(e10, 10)
eq11 = dict.fromkeys(e11, 11)
eq12 = dict.fromkeys(e12, 12)

uno todas las listas en un diccionario

In [17]:
dic = {**eq1, **eq2, **eq3, **eq4, **eq5, **eq6, **eq7, **eq8, **eq9, **eq10, **eq11, **eq12}

In [18]:
def valor(row):
    return dic[row]

In [19]:
f20['club'] = f20['club'].apply(lambda x: valor(x))

In [20]:
f20['club'].unique()

array([ 1,  2,  3,  5,  8, 12,  4,  6,  7, 11,  9, 10])

**Columna 'nacionality'**

In [21]:
a= len(f20.nationality.unique())
a

162

voy a clasificarlas, saco los datos de aqui: https://es.fifa.com/fifa-world-ranking/ranking-table/men/

In [22]:
p1 = ['Belgium','France','Brazil','England','Uruguay','Croatia','Portugal','Spain','Argentina','Colombia',
      'Mexico','Sweden','Italy','Netherlands', 'Germany','Denmark','Switzerland','Chile']

p2 = ['Poland','Senegal','Peru','United','Czech Republic', 'United States','Wales','Ukraine','Venezuela','Austria',
      'Tunisia','Japan','Turkey','Nigeria','Slovakia','Scotland']

p3 = ['Iran','Republic of Ireland','Northern Ireland','Romania','Iceland','Korea Republic','Paraguay',
      'Australia','Morocco','Algeria','Norway','Costa Rica','Ghana','Jamaica','Bosnia Herzegovina']

p4 = ['Egypt','Hungary','Cameroon','Greece','Qatar','Mali','DR Congo','Finland','Bulgaria','Burkina Faso',
      'Ivory Coast','Honduras','Ecuador','Montenegro','Slovenia','Albania','Saudi Arabia','FYR Macedonia',
      'El Salvador']

p5 = ['Iraq','United Arab Emirates','South Africa','Canada','Guinea','Bolivia','China PR','Uganda',
      'Cape Verde','Syria','Curacao','Panama','Oman','Gabon','Benin','Uzbekistan','Haiti','Belarus',
      'Zambia','Congo','Georgia','Lebanon','Madagascar','Israel']

p6 = ['Vietnam','Jordan','Luxembourg','Bahrain','Mauritius','Libya','Armenia','Palestine','Estonia',
      'Trinidad & Tobago','Mozambique','Kenya','India','Central African Rep.','Faroe Islands', 'Zimbabwe',
      'Niger','Thailand','Azerbaijan','Kosovo','Korea DPR','Namibia','Kazakhstan']

p7 = ['Sierra Leone','Barbados','Philippines','Liberia','Lithuania','Togo', 'Angola', 'Serbia', 'Russia',
      'Guatemala', 'Grenada','Puerto Rico',  'Suriname', 'Comoros', 'Liechtenstein','St Kitts Nevis','Ethiopia',
      'Antigua & Barbuda','Chinese Taipei','Gibraltar','New Zealand','Guinea Bissau',  'Cyprus', 'Gambia',
      'Guyana','Moldova','Equatorial Guinea', 'Cambodia', 'Eritrea', 'Kuwait','Latvia','Burundi','Malta',
      'Montserrat','Mauritania',  'Somalia','Guam','Cuba', 'Bermuda','Tajikistan','Nicaragua', 'Turkmenistan',
      'Dominican Republic', 'New Caledonia','Aruba','Papua New Guinea','Chad','Kyrgyzstan','Tanzania',
      'São Tomé & Príncipe','St Lucia', 'Indonesia','Rwanda','Sudan','Sri Lanka','Afghanistan','Belize',
      'St Vincent Grenadine','Brunei Darussalam','San Marino','Swaziland','Hong Kong','South Sudan','Malawi','Macau',]

asigno un valor a cada lista para convertirlas en diccionarios y relacionarlas entre si

In [23]:
pais1 = dict.fromkeys(p1, 1)
pais2 = dict.fromkeys(p2, 2)
pais3 = dict.fromkeys(p3, 3)
pais4 = dict.fromkeys(p4, 4)
pais5 = dict.fromkeys(p5, 5)
pais6 = dict.fromkeys(p6, 6)
pais7 = dict.fromkeys(p7, 7)

creo un diccionario con todas las listas

In [24]:
dicc = {**pais1, **pais2, **pais3, **pais4, **pais5, **pais6, **pais7}

aplico las values de cada pais en la columna 'nationality'

In [25]:
def valor2(x, diction):
    return diction[x]

In [26]:
f20['nationality'] = f20['nationality'].apply(lambda x: valor2(x, dicc))

In [27]:
f20.nationality.unique()

array([1, 4, 2, 5, 3, 7, 6])

**columna preferred_foot**

In [28]:
f20['preferred_foot'].unique()

array(['Left', 'Right'], dtype=object)

In [29]:
def pie (row):
    groups = {
        "Left": 1,
        "Right" : 2
    }
    return groups[row]

In [30]:
f20['preferred_foot'] = f20['preferred_foot'].apply(lambda x: pie(x))

In [31]:
f20['preferred_foot'].unique()

array([1, 2])

**columna 'work_rate'**

In [32]:
f20['work_rate'].unique()

array(['Medium/Low', 'High/Low', 'High/Medium', 'Medium/Medium',
       'High/High', 'Medium/High', 'Low/High', 'Low/Medium', 'Low/Low'],
      dtype=object)

los voy a categorizar dando valor 3 a high, 2 a medium y 1 a low, sumo los 2 valores y asi los ordeno

In [33]:
def work (row):
    groups = {
        'High/High': 6,
        'Medium/High': 5,
        'High/Medium': 5,
        'Low/High': 4,
        'High/Low': 4,
        'Medium/Medium': 4,
        'Low/Medium': 3,
        'Medium/Low': 3,
        'Low/Low': 2
    }
    return groups[row]

In [34]:
f20['work_rate'] = f20['work_rate'].apply(lambda x: work(x))

In [35]:
f20['work_rate'].unique()

array([3, 4, 5, 6, 2])

**columnas con NaN**

In [36]:
pos = ['pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic','gk_diving',
       'gk_handling','gk_kicking', 'gk_reflexes', 'gk_speed','gk_positioning','ls',
       'st','rs','lw','lf','cf','rf','rw','lam','cam','ram','lm','lcm','cm','rcm','rm',
       'lwb','ldm','cdm','rdm','rwb','lb','lcb','cb','rcb','rb']

In [38]:
f20['ls'].isnull().sum()

2036

tengo muchos valores nulos, los voy a cambiar por 0, esto se debe a que dependiendo de la posicion en la que juegue tienes unas habilidades u otras, por ejemplo: los jugadores de campo no tienen habilidades de portero

In [39]:
for p in pos:
    f20[p] = f20[p].fillna(value=0).astype("str")

In [42]:
list(f20.isnull().sum())

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [43]:
f20['ls'].unique()

array(['89+2', '91+3', '84+3', '0', '83+3', '82+3', '69+3', '77+3',
       '86+3', '56+3', '72+3', '58+3', '87+3', '74+3', '86+5', '70+3',
       '85+3', '80+3', '81+3', '79+3', '78+3', '76+3', '62+3', '75+3',
       '65+2', '77+2', '66+3', '68+3', '82+2', '63+3', '58+2', '71+3',
       '64+3', '74+2', '67+3', '57+2', '81+2', '73+2', '73+3', '71+2',
       '56+2', '63+2', '79+2', '51+3', '82+4', '76+2', '75+2', '80+2',
       '78+2', '57+3', '60+3', '52+2', '62+2', '59+2', '60+2', '68+2',
       '61+3', '55+3', '69+2', '72+2', '70+2', '55+2', '61+2', '53+2',
       '66+2', '65+3', '67+2', '51+2', '53+3', '54+2', '64+2', '59+3',
       '50+3', '50+2', '52+3', '49+2', '48+2', '46+2', '47+2', '44+2',
       '43+2', '45+2', '41+2', '37+2', '42+2', '38+2', '40+2', '39+2',
       '35+2', '36+2', '34+2', '33+2', '30+2', '31+2', '32+2'],
      dtype=object)

**columnas con sumas y restas**

In [44]:
col = ['ls','st','rs','lw','lf','cf','rf','rw','lam','cam','ram','lm','lcm','cm','rcm','rm',
       'lwb','ldm','cdm','rdm','rwb','lb','lcb','cb','rcb','rb']
len(col)

26

In [45]:
for c in col:
    f20[c] = f20[c].apply((lambda x: eval(x)))

In [46]:
list(f20.dtypes)

[dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64')]

In [47]:
f20.columns

Index(['age', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall',
       'potential', 'value_eur', 'wage_eur', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves', 'work_rate',
       'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed',
       'gk_positioning', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'defending_marking', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs',
       'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm',
       'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb',
       'rcb', 'rb', 'year'],
      dtype='object')

In [48]:
f20.head()

,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,preferred_foot,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
sofifa_id,,,,,,,,,,,,,,,,,,,,,
158023,32,170,72,1,1,94,94,95500000,565000,1,...,68,68,68,70,65,54,54,54,65,20
20801,34,187,83,1,1,93,93,58500000,405000,2,...,64,64,64,68,64,56,56,56,64,20
190871,27,175,68,1,1,92,92,105500000,290000,2,...,64,64,64,69,64,49,49,49,64,20
200389,26,188,87,4,1,91,93,77500000,125000,2,...,0,0,0,0,0,0,0,0,0,20
183277,28,175,74,1,1,91,91,90000000,470000,2,...,66,66,66,69,64,52,52,52,64,20

In [49]:
f20.to_csv("./output/f20.csv")