In [25]:
import numpy as np
import pandas as pd

In [26]:
f1519 = pd.read_csv('./output/f1519.csv')
f1519.shape

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (29,69) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(82717, 105)

In [27]:
f20 = pd.read_csv("./output/f20_sinlimpiar.csv")
f20.shape

(18278, 105)

junto f1519 con f20 para sacar los id y los nombres de cada jugador

In [28]:
frames = [f1519, f20]
idnombre = pd.concat(frames)

In [29]:
idnombre.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,15
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,15
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,15
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,15
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15

In [30]:
idnombre.to_csv("./output/idnombre.csv")

In [31]:
name = idnombre[['sofifa_id','short_name']]
name.head()

   sofifa_id         short_name
0     158023           L. Messi
1      20801  Cristiano Ronaldo
2       9014          A. Robben
3      41236     Z. Ibrahimović
4     167495           M. Neuer

In [32]:
name = name.drop_duplicates()

In [33]:
name[name["short_name"] == "L. Messi"] ["sofifa_id"] [0]

158023

In [34]:
def sofifa_id (df,short_name): 
    return df[df["short_name"] == short_name]["sofifa_id"][0]
    
sofifa_id(name,"L. Messi")

158023

In [35]:
def nombre (df,sofifa_id): 
    return df[df["sofifa_id"] == sofifa_id]["short_name"][0]

nombre(name, 158023)

'L. Messi'

In [36]:
name.to_csv("./output/idname.csv")