In [8]:
import numpy as np
import pandas as pd

In [9]:
f59 = pd.read_csv('./output/f59.csv')

In [10]:
f20 = pd.read_csv('./output/f20.csv')

In [11]:
frames = [f59, f20]
fif = pd.concat(frames)

In [12]:
fif.shape

(100995, 88)

In [13]:
fif.head()

,sofifa_id,age,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,year
0,158023,27,169,67,1,1,93,95,0,0,...,65,65,65,65,57,48,48,48,57,15
1,20801,29,185,80,1,1,92,92,0,0,...,66,66,66,66,60,55,55,55,60,15
2,9014,30,180,80,1,1,90,90,0,0,...,67,67,67,67,58,49,49,49,58,15
3,41236,32,195,95,1,1,90,90,0,0,...,68,68,68,64,59,58,58,58,59,15
4,167495,28,193,92,1,1,90,90,0,0,...,0,0,0,0,0,0,0,0,0,15

In [14]:
fif.to_csv("./output/fif.csv")