Importo los data del 2015 al 2020

In [25]:
import pandas as pd
import numpy as np

df20 = pd.read_csv('./input/players_20.csv')
df19 = pd.read_csv('./input/players_19.csv')
df18 = pd.read_csv('./input/players_18.csv')
df17 = pd.read_csv('./input/players_17.csv')
df16 = pd.read_csv('./input/players_16.csv')
df15 = pd.read_csv('./input/players_15.csv')

Trabajo con la columna 'player_positions', utilizo solo la primera posición, que es la mas usada por el jugador

In [26]:
df20['player_positions'] = df20['player_positions'].str.split(',').str[0]
df19['player_positions'] = df19['player_positions'].str.split(',').str[0]
df18['player_positions'] = df18['player_positions'].str.split(',').str[0]
df17['player_positions'] = df17['player_positions'].str.split(',').str[0]
df16['player_positions'] = df16['player_positions'].str.split(',').str[0]
df15['player_positions'] = df15['player_positions'].str.split(',').str[0]

Agrupo las posiciones para dejarlas en 11 y ponerles nombres en castellano

In [27]:
def position (row):
    groups = {
        'CF' : 'MP',
        'LW' : 'EI',
        'RW' : 'ED',
        'RM' : 'CD',
        'LM' : 'CI',
        'CDM' : 'CM',
        'CAM' : 'CM',
        'RB' : 'LD',
        'RWB' : 'LD',
        'LB' : 'LI',
        'LWB' : 'LI',
        'CB' : 'DF',
        'ST' : 'ST',
        'GK' : 'GK',
        'CM' : 'CM',
    }
    return groups[row]

df15['player_positions'] = df15['player_positions'].apply(lambda x: position(x))
df16['player_positions'] = df16['player_positions'].apply(lambda x: position(x))
df17['player_positions'] = df17['player_positions'].apply(lambda x: position(x))
df18['player_positions'] = df18['player_positions'].apply(lambda x: position(x))
df19['player_positions'] = df19['player_positions'].apply(lambda x: position(x))
df20['player_positions'] = df20['player_positions'].apply(lambda x: position(x))

In [28]:
df20['player_positions'].unique()

array(['ED', 'ST', 'EI', 'GK', 'CM', 'DF', 'MP', 'LI', 'LD', 'CD', 'CI'],
      dtype=object)

Funcion para conseguir que me diga los mejores jugadores por posición de cada año, y dentro de unas formaciones preestablecidas por mi

In [29]:
def get_best_squad(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['overall'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['overall'].max()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['overall'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'Overall']).to_string(index = False)

# 4-3-3
squad_433 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'CM', 'EI', 'ST', 'ED']
squad_343 = ['GK', 'DF', 'DF', 'DF', 'CI', 'CM', 'CM', 'CD', 'EI', 'ST', 'ED']
squad_352 = ['GK', 'DF', 'DF', 'DF', 'LI', 'LD', 'CM', 'CM', 'MP', 'ST', 'ST']
squad_442 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CI', 'CM', 'CM', 'CD', 'ST', 'ST']
squad_523 = ['GK', 'LI', 'DF', 'DF', 'DF', 'LD', 'CM', 'CM', 'ST', 'ST', 'ST']
squad_451 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'EI', 'MP', 'ED', 'ST']


print ('4-3-3 in FIFA 20')
print (get_best_squad(df20, squad_433))
print ('3-4-3 in FIFA 19')
print (get_best_squad(df19, squad_343))
print ('3-5-2 in FIFA 18')
print (get_best_squad(df18, squad_352))
print ('4-2-2 in FIFA 17')
print (get_best_squad(df17, squad_442))
print ('5-2-3 in FIFA 16')
print (get_best_squad(df16, squad_523))
print ('4-5-1 in FIFA 15')
print (get_best_squad(df15, squad_451))

4-3-3 in FIFA 20
Position              Player Overall
      GK            J. Oblak      91
      LI          Jordi Alba      87
      DF         V. van Dijk      90
      DF        K. Koulibaly      89
      LD          J. Kimmich      86
      CM        K. De Bruyne      91
      CM           L. Modrić      90
      CM            N. Kanté      89
      EI           Neymar Jr      92
      ST   Cristiano Ronaldo      93
      ED            L. Messi      94
3-4-3 in FIFA 19
Position              Player Overall
      GK              De Gea      91
      DF        Sergio Ramos      91
      DF            D. Godín      90
      DF        G. Chiellini      89
      CI          I. Perišić      86
      CM        K. De Bruyne      91
      CM           L. Modrić      91
      CD           A. Robben      85
      EI           Neymar Jr      92
      ST   Cristiano Ronaldo      94
      ED            M. Salah      88
3-5-2 in FIFA 18
Position           Player Overall
      GK         M. Neuer      92
      DF     Sergio Ramos      90
      DF     G. Chiellini      89
      DF     Thiago Silva      88
      LI          Marcelo      87
      LD         Carvajal      84
      CM         T. Kroos      90
      CM     K. De Bruyne      89
      MP       D. Mertens      86
      ST        L. Suárez      92
      ST   R. Lewandowski      91
4-2-2 in FIFA 17
Position           Player Overall
      GK         M. Neuer      92
      LI         D. Alaba      87
      DF       J. Boateng      90
      DF     Sergio Ramos      89
      LD          P. Lahm      88
      CI        E. Hazard      88
      CM          M. Özil      89
      CM        L. Modrić      89
      CD        A. Robben      87
      ST        L. Suárez      92
      ST   Z. Ibrahimović      90
5-2-3 in FIFA 16
Position           Player Overall
      GK         M. Neuer      90
      LI         D. Alaba      85
      DF     Thiago Silva      88
      DF       J. Boateng      87
      DF     G. Chiellini      87
      LD       Dani Alves      84
      CM      David Silva      88
      CM     J. Rodríguez      87
      ST        L. Suárez      90
      ST   Z. Ibrahimović      89
      ST   R. Lewandowski      87
4-5-1 in FIFA 15
Position              Player Overall
      GK            M. Neuer      90
      LI            D. Alaba      82
      DF        Sergio Ramos      87
      DF        Thiago Silva      87
      LD          Dani Alves      83
      CM   B. Schweinsteiger      88
      CM             P. Lahm      87
      EI   Cristiano Ronaldo      92
      MP            L. Messi      93
      ED          A. Sánchez      84
      ST      Z. Ibrahimović      90

Hago lo mismo con la prediccion de 2021

In [30]:
testing = pd.read_csv('output/predictfinal2.csv')
testing.head()

   sofifa_id    overall
0     158023  93.334595
1      20801  92.799469
2     190871  92.543037
3     200389  90.172699
4     183277  91.046577

In [31]:
testing['overall'] = testing['overall'].round()
testing['overall'] = testing['overall'].astype('int')

In [32]:
testing.head()

   sofifa_id  overall
0     158023       93
1      20801       93
2     190871       93
3     200389       90
4     183277       91

Añado las columnas 'best_position' y 'short_name'

In [33]:
listaa=['player_positions','short_name']
for a in listaa:
    testing[a] = df20[[a]]

In [34]:
testing.head()

   sofifa_id  overall player_positions         short_name
0     158023       93               ED           L. Messi
1      20801       93               ST  Cristiano Ronaldo
2     190871       93               EI          Neymar Jr
3     200389       90               GK           J. Oblak
4     183277       91               EI          E. Hazard

Lo pruebo y ...

In [35]:
print ('4-3-3 in FIFA 21')
print (get_best_squad(testing, squad_433))

4-3-3 in FIFA 21
Position              Player Overall
      GK            J. Oblak      90
      LI          Jordi Alba      87
      DF         V. van Dijk      89
      DF        K. Koulibaly      89
      LD            Carvajal      86
      CM        K. De Bruyne      91
      CM           L. Modrić      89
      CM            N. Kanté      89
      EI           Neymar Jr      93
      ST   Cristiano Ronaldo      93
      ED            L. Messi      93

## edad

In [36]:
df20[df20['age']==20]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
10,231747,https://sofifa.com/player/231747/kylian-mbappe...,K. Mbappé,Kylian Mbappé,20,1998-12-20,178,73,France,Paris Saint-Germain,...,66+3,62+3,62+3,62+3,66+3,63+3,54+3,54+3,54+3,63+3
74,230621,https://sofifa.com/player/230621/gianluigi-don...,G. Donnarumma,Gianluigi Donnarumma,20,1999-02-25,196,90,Italy,Milan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,235790,https://sofifa.com/player/235790/kai-havertz/2...,K. Havertz,Kai Havertz,20,1999-06-11,188,83,Germany,Bayer 04 Leverkusen,...,65+2,63+2,63+2,63+2,65+2,62+2,54+2,54+2,54+2,62+2
160,231281,https://sofifa.com/player/231281/trent-alexand...,T. Alexander-Arnold,Trent Alexander-Arnold,20,1998-10-07,180,69,England,Liverpool,...,81+2,79+2,79+2,79+2,81+2,80+2,76+2,76+2,76+2,80+2
572,231691,https://sofifa.com/player/231691/alban-lafont/...,A. Lafont,Alban Lafont,20,1999-01-23,193,82,France,FC Nantes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18221,251125,https://sofifa.com/player/251125/jose-abraham-...,J. Rodríguez,José Abraham Rodríguez,20,1998-07-22,179,74,Mexico,FC Juárez,...,42+2,40+2,40+2,40+2,42+2,45+2,47+2,47+2,47+2,45+2
18224,251159,https://sofifa.com/player/251159/kyu-hyuk-lee/...,Lee Kyu Hyuk,Kyu Hyuk Lee,20,1999-05-04,175,72,Korea Republic,Jeju United FC,...,47+2,42+2,42+2,42+2,47+2,48+2,48+2,48+2,48+2,48+2
18249,233667,https://sofifa.com/player/233667/huanhuan-shan...,Shan Huanhuan,单欢欢,20,1999-01-24,185,75,China PR,Dalian YiFang FC,...,37+2,36+2,36+2,36+2,37+2,37+2,35+2,35+2,35+2,37+2
18271,243961,https://sofifa.com/player/243961/evan-tweed/20...,E. Tweed,Evan Tweed,20,1999-03-01,180,72,Republic of Ireland,Derry City,...,46+2,46+2,46+2,46+2,46+2,46+2,45+2,45+2,45+2,46+2
18272,251789,https://sofifa.com/player/251789/paul-martin/2...,P. Martin,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

funcion que me devuelve los jugadores que estan en un rango de edad, desde 'n'(minimo) hasta 'm'(maximo)

In [37]:
def age(df,n,m):
    return df[(df['age'] >= n) & (df['age'] < m)]

In [38]:
age (df20, 17, 21)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
10,231747,https://sofifa.com/player/231747/kylian-mbappe...,K. Mbappé,Kylian Mbappé,20,1998-12-20,178,73,France,Paris Saint-Germain,...,66+3,62+3,62+3,62+3,66+3,63+3,54+3,54+3,54+3,63+3
73,235243,https://sofifa.com/player/235243/matthijs-de-l...,M. de Ligt,Matthijs de Ligt,19,1999-08-12,189,89,Netherlands,Juventus,...,74+3,79+3,79+3,79+3,74+3,76+3,82+3,82+3,82+3,76+3
74,230621,https://sofifa.com/player/230621/gianluigi-don...,G. Donnarumma,Gianluigi Donnarumma,20,1999-02-25,196,90,Italy,Milan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,233049,https://sofifa.com/player/233049/jadon-sancho/...,J. Sancho,Jadon Sancho,19,2000-03-25,180,76,England,Borussia Dortmund,...,64+2,58+2,58+2,58+2,64+2,59+2,47+2,47+2,47+2,59+2
109,235790,https://sofifa.com/player/235790/kai-havertz/2...,K. Havertz,Kai Havertz,20,1999-06-11,188,83,Germany,Bayer 04 Leverkusen,...,65+2,63+2,63+2,63+2,65+2,62+2,54+2,54+2,54+2,62+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18269,252181,https://sofifa.com/player/252181/jiahui-huang/...,Huang Jiahui,Jiahui Huang,18,2000-10-07,183,74,China PR,Dalian YiFang FC,...,44+2,40+2,40+2,40+2,44+2,46+2,46+2,46+2,46+2,46+2
18271,243961,https://sofifa.com/player/243961/evan-tweed/20...,E. Tweed,Evan Tweed,20,1999-03-01,180,72,Republic of Ireland,Derry City,...,46+2,46+2,46+2,46+2,46+2,46+2,45+2,45+2,45+2,46+2
18272,251789,https://sofifa.com/player/251789/paul-martin/2...,P. Martin,Paul Martin,20,1999-01-05,188,84,Republic of Ireland,Waterford FC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2

## Evolución!!

añando la columna 'overall' del 2020 para hacer la comparacion con la predicción del 2021, y ordenos las columnas para que visualmente sea mas atractivo

In [39]:
testing['overall_2020'] = df20[['overall']]
testing.head()

   sofifa_id  overall player_positions         short_name  overall_2020
0     158023       93               ED           L. Messi            94
1      20801       93               ST  Cristiano Ronaldo            93
2     190871       93               EI          Neymar Jr            92
3     200389       90               GK           J. Oblak            91
4     183277       91               EI          E. Hazard            91

In [41]:
testing = testing[['sofifa_id','short_name', 'player_positions', 'overall_2020', 'overall']]
testing.head()

   sofifa_id         short_name player_positions  overall_2020  overall
0     158023           L. Messi               ED            94       93
1      20801  Cristiano Ronaldo               ST            93       93
2     190871          Neymar Jr               EI            92       93
3     200389           J. Oblak               GK            91       90
4     183277          E. Hazard               EI            91       91

In [42]:
testing['evol'] = (testing['overall']-testing['overall_2020'])

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
testing.head()

   sofifa_id         short_name player_positions  overall_2020  overall  evol
0     158023           L. Messi               ED            94       93    -1
1      20801  Cristiano Ronaldo               ST            93       93     0
2     190871          Neymar Jr               EI            92       93     1
3     200389           J. Oblak               GK            91       90    -1
4     183277          E. Hazard               EI            91       91     0

In [44]:
testing.to_csv("./output/testing.csv")

Funcion para decidir el once que mas va a evolucionar en un año, por posicion

In [47]:
def get_best_eval(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['evol'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['evol'].max()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['evol'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'evol']).to_string(index = False)

In [48]:
print ('4-3-3 in testing')
print (get_best_eval(testing, squad_433))

4-3-3 in testing
Position          Player evol
      GK        A. Meyer    2
      LI        D. Alaba    1
      DF        D. Bowry    2
      DF    Xiao Mingjie    2
      LD    F. Sierralta    2
      CM    L. Coulibaly    2
      CM     João Afonso    2
      CM    F. Henríquez    2
      EI    Lee Joon Suk    3
      ST   Park Dong Jin    2
      ED         G. Bale    1

Funcion para decidir el once que mas va a empeorar en un año, por posicion

In [49]:
def get_worst_eval(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['player_positions'] == i]['evol'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['player_positions'] == i]['evol'].min()])
        df_copy.drop(df_copy[df_copy['player_positions'] == i]['evol'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'evol']).to_string(index = False)

In [50]:
print ('4-3-3 in testing')
print (get_worst_eval(testing, squad_433))

4-3-3 in testing
Position          Player evol
      GK        A. Meyer   -3
      LI        D. Alaba   -3
      DF        D. Bowry   -3
      DF    Xiao Mingjie   -3
      LD    F. Sierralta   -2
      CM    L. Coulibaly   -2
      CM     João Afonso   -2
      CM    F. Henríquez   -2
      EI    Lee Joon Suk   -1
      ST   Park Dong Jin   -3
      ED         G. Bale   -1