In [57]:
import pandas as pd
import numpy as np




df20 = pd.read_csv('./input/players_20.csv')
df19 = pd.read_csv('./input/players_19.csv')
df18 = pd.read_csv('./input/players_18.csv')
df17 = pd.read_csv('./input/players_17.csv')
df16 = pd.read_csv('./input/players_16.csv')
df15 = pd.read_csv('./input/players_15.csv')

In [58]:
df20['best_position'] = df20['player_positions'].str.split(',').str[0]
df19['best_position'] = df19['player_positions'].str.split(',').str[0]
df18['best_position'] = df18['player_positions'].str.split(',').str[0]
df17['best_position'] = df17['player_positions'].str.split(',').str[0]
df16['best_position'] = df16['player_positions'].str.split(',').str[0]
df15['best_position'] = df15['player_positions'].str.split(',').str[0]

In [59]:
def position (row):
    groups = {
        'CF' : 'MP',
        'LW' : 'EI',
        'RW' : 'ED',
        'RM' : 'CD',
        'LM' : 'CI',
        'CDM' : 'CM',
        'CAM' : 'CM',
        'RB' : 'LD',
        'RWB' : 'LD',
        'LB' : 'LI',
        'LWB' : 'LI',
        'CB' : 'DF',
        'ST' : 'ST',
        'GK' : 'GK',
        'CM' : 'CM',
    }
    return groups[row]

df15['best_position'] = df15['best_position'].apply(lambda x: position(x))
df16['best_position'] = df16['best_position'].apply(lambda x: position(x))
df17['best_position'] = df17['best_position'].apply(lambda x: position(x))
df18['best_position'] = df18['best_position'].apply(lambda x: position(x))
df19['best_position'] = df19['best_position'].apply(lambda x: position(x))
df20['best_position'] = df20['best_position'].apply(lambda x: position(x))

In [60]:
df20['best_position'].unique()

array(['ED', 'ST', 'EI', 'GK', 'CM', 'DF', 'MP', 'LI', 'LD', 'CD', 'CI'],
      dtype=object)

In [61]:
def get_best_squad(df_name, position):
    df_copy = df_name.copy()
    store = []
    for i in position:
        store.append([i,df_copy.loc[[df_copy[df_copy['best_position'] == i]['overall'].idxmax()]]['short_name'].to_string(index = False), df_copy[df_copy['best_position'] == i]['overall'].max()])
        df_copy.drop(df_copy[df_copy['best_position'] == i]['overall'].idxmax(), inplace = True)
    #return store
    return pd.DataFrame(np.array(store).reshape(11,3), columns = ['Position', 'Player', 'Overall']).to_string(index = False)

# 4-3-3
squad_433 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'CM', 'EI', 'ST', 'ED']
squad_343 = ['GK', 'DF', 'DF', 'DF', 'CI', 'CM', 'CM', 'CD', 'EI', 'ST', 'ED']
squad_352 = ['GK', 'DF', 'DF', 'DF', 'LI', 'LD', 'CM', 'CM', 'MP', 'ST', 'ST']
squad_442 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CI', 'CM', 'CM', 'CD', 'ST', 'ST']
squad_523 = ['GK', 'LI', 'DF', 'DF', 'DF', 'LD', 'CM', 'CM', 'ST', 'ST', 'ST']
squad_451 = ['GK', 'LI', 'DF', 'DF', 'LD', 'CM', 'CM', 'EI', 'MP', 'ED', 'ST']


print ('4-3-3 in FIFA 20')
print (get_best_squad(df20, squad_433))
print ('3-4-3 in FIFA 19')
print (get_best_squad(df19, squad_343))
print ('3-5-2 in FIFA 18')
print (get_best_squad(df18, squad_352))
print ('4-2-2 in FIFA 17')
print (get_best_squad(df17, squad_442))
print ('5-2-3 in FIFA 16')
print (get_best_squad(df16, squad_523))
print ('4-5-1 in FIFA 15')
print (get_best_squad(df15, squad_451))

4-3-3 in FIFA 20
Position              Player Overall
      GK            J. Oblak      91
      LI          Jordi Alba      87
      DF         V. van Dijk      90
      DF        K. Koulibaly      89
      LD          J. Kimmich      86
      CM        K. De Bruyne      91
      CM           L. Modrić      90
      CM            N. Kanté      89
      EI           Neymar Jr      92
      ST   Cristiano Ronaldo      93
      ED            L. Messi      94
3-4-3 in FIFA 19
Position              Player Overall
      GK              De Gea      91
      DF        Sergio Ramos      91
      DF            D. Godín      90
      DF        G. Chiellini      89
      CI          I. Perišić      86
      CM        K. De Bruyne      91
      CM           L. Modrić      91
      CD           A. Robben      85
      EI           Neymar Jr      92
      ST   Cristiano Ronaldo      94
      ED            M. Salah      88
3-5-2 in FIFA 18
Position           Player Overall
      GK         M. Neuer      92
      DF     Sergio Ramos      90
      DF     G. Chiellini      89
      DF     Thiago Silva      88
      LI          Marcelo      87
      LD         Carvajal      84
      CM         T. Kroos      90
      CM     K. De Bruyne      89
      MP       D. Mertens      86
      ST        L. Suárez      92
      ST   R. Lewandowski      91
4-2-2 in FIFA 17
Position           Player Overall
      GK         M. Neuer      92
      LI         D. Alaba      87
      DF       J. Boateng      90
      DF     Sergio Ramos      89
      LD          P. Lahm      88
      CI        E. Hazard      88
      CM          M. Özil      89
      CM        L. Modrić      89
      CD        A. Robben      87
      ST        L. Suárez      92
      ST   Z. Ibrahimović      90
5-2-3 in FIFA 16
Position           Player Overall
      GK         M. Neuer      90
      LI         D. Alaba      85
      DF     Thiago Silva      88
      DF       J. Boateng      87
      DF     G. Chiellini      87
      LD       Dani Alves      84
      CM      David Silva      88
      CM     J. Rodríguez      87
      ST        L. Suárez      90
      ST   Z. Ibrahimović      89
      ST   R. Lewandowski      87
4-5-1 in FIFA 15
Position              Player Overall
      GK            M. Neuer      90
      LI            D. Alaba      82
      DF        Sergio Ramos      87
      DF        Thiago Silva      87
      LD          Dani Alves      83
      CM   B. Schweinsteiger      88
      CM             P. Lahm      87
      EI   Cristiano Ronaldo      92
      MP            L. Messi      93
      ED          A. Sánchez      84
      ST      Z. Ibrahimović      90

Hago lo mismo con la prediccion de 2021

In [62]:
testing = pd.read_csv('output/predictfinal2.csv')
testing.head()

   sofifa_id    overall
0     158023  93.334595
1      20801  92.799469
2     190871  92.543037
3     200389  90.172699
4     183277  91.046577

In [63]:
testing['overall'] = testing['overall'].round()

In [64]:
testing.head()

   sofifa_id  overall
0     158023     93.0
1      20801     93.0
2     190871     93.0
3     200389     90.0
4     183277     91.0

Añado las columnas 'best_position' y 'short_name'

In [65]:
testing['best_position'] = df20[['best_position']]

In [66]:
testing['short_name'] = df20[['short_name']]

In [67]:
testing.head()

   sofifa_id  overall best_position         short_name
0     158023     93.0            ED           L. Messi
1      20801     93.0            ST  Cristiano Ronaldo
2     190871     93.0            EI          Neymar Jr
3     200389     90.0            GK           J. Oblak
4     183277     91.0            EI          E. Hazard

Lo pruebo y ...

In [68]:
print ('4-3-3 in FIFA 21')
print (get_best_squad(testing, squad_433))

4-3-3 in FIFA 21
Position              Player Overall
      GK            J. Oblak    90.0
      LI          Jordi Alba    87.0
      DF         V. van Dijk    89.0
      DF        K. Koulibaly    89.0
      LD            Carvajal    86.0
      CM        K. De Bruyne    91.0
      CM           L. Modrić    89.0
      CM            N. Kanté    89.0
      EI           Neymar Jr    93.0
      ST   Cristiano Ronaldo    93.0
      ED            L. Messi    93.0

## edad

In [72]:
def age(df, n):
    edad = (df[df['age']]<= n)
    return edad

In [73]:
age (df20, '20')

KeyError: "None of [Int64Index([32, 34, 27, 26, 28, 28, 27, 27, 33, 27,\n            ...\n            18, 18, 21, 20, 20, 22, 22, 19, 18, 26],\n           dtype='int64', length=18278)] are in the [columns]"